<%
  page_sizing = {
    "dymo-30256" => {"size" => "59mm 102mm", "margin" => "5mm 1mm 5mm 1mm"},
    "avery-5163" => {"size" => "letter", "margin" => "0.5in 0.125in"}
    }
%>
<html>
  <head>
    <title><%= I18n.t("top_container_labels._frontend.bulk_operations.label_page_title") %></title>
    <link href="<%= "#{AppConfig[:frontend_prefix]}assets/container_labels.css" %>" media="all" rel="stylesheet" type="text/css"/>
    <script src="<%= "#{AppConfig[:frontend_prefix]}assets/jquery.js?body=1" %>" type="text/javascript"></script>
    <script src="<%= "#{AppConfig[:frontend_prefix]}assets/jquery-barcode.min.js" %>" type="text/javascript"></script>
    <script src="<%= "#{AppConfig[:frontend_prefix]}assets/container_labels.js" %>" type="text/javascript"></script>
  </head>

<body>
  <div class="labels">
    <% sorted_labels = [] %>

    <% labels.each do |label| %>
      <% 
        loc = label['container_locations'].select { |cl| cl['status'] == 'current' }.first
        loc = loc ? loc['_resolved'] : {}
                
        # Local locations need a bunch of location information concatenated
        #loc = loc.empty? ? '' : ['building', 'area', 'coordinate_1_indicator', 'coordinate_2_indicator', 'coordinate_3_indicator'].map {|fld| loc[fld]}.compact.join(' ')
        
        indicator = label['indicator']
        
        barcode = label['barcode']
        
        resource = label['collection'].empty? ? {} : label['collection'].first

        archival_record = label['archival_object']['_resolved']

        date = archival_record['dates'].empty? ? {} : archival_record['dates'].first
        date = date['expression'] ? date['expression'] : [date['begin'], date['end']].compact.join(' - ')

        title = archival_record['title'].empty? ? nil : archival_record['title']
        #note = note.nil? ? "" : note['subnotes'].first['content']
     
        sorted_labels.push({"loc"=>loc,"indicator"=>indicator,"barcode"=>barcode,"resource"=>resource,"archival_record"=>archival_record,"date"=>date,"title"=>title})
      %>
    <% end %>

    <% sorted_labels.each do |label| %>
      <div class="label <%= params['label_type'] %>">

          <div class="label-resource-id"><%= label['resource']['identifier'] %></div>
          <div class="label-resource-title"><%= label['resource']['display_string'] %></div>
          <div class="label-description"><%= label['title'][0,75]  %></div>
          <div class="label-date">
            <%= label['date']  %>
          </div>
          <div class="label-indicator"><%= label['indicator'] %></div>
          <div class="label-barcode" data="<%= label['barcode'] %>"></div>
  
          <% unless label['loc'].empty? %>
            <div class="label-divider"></div>
            <div class="label-location"><%= label['loc']['title'] %></div>
            <div class="label-barcode" data="<%= label['loc']['barcode'] %>"></div>
          <% end %>
      </div>
    <% end %>

  </div>
<style type="text/css">
  @page {
    size: <%= page_sizing[params['label_type']]['size'] %>;
    margin: <%= page_sizing[params['label_type']]['margin'] %>;
  }
</style>
</body>
</html>
