<html>
  <head>
    <title><%= I18n.t("top_container_labels._frontend.bulk_operations.label_page_title") %></title>
    <link href="<%= "#{AppConfig[:frontend_prefix]}assets/container_labels_reset.css" %>" media="all" rel="stylesheet" type="text/css"/>
    <link href="<%= "#{AppConfig[:frontend_prefix]}assets/container_labels.css" %>" media="all" rel="stylesheet" type="text/css"/>
    <script src="<%= "#{AppConfig[:frontend_prefix]}assets/jquery.js?body=1" %>" type="text/javascript"></script>
    <script src="<%= "#{AppConfig[:frontend_prefix]}assets/jquery-barcode.min.js" %>" type="text/javascript"></script>
    <script src="<%= "#{AppConfig[:frontend_prefix]}assets/container_labels.js" %>" type="text/javascript"></script>
  </head>

  <body>
    <div class="labels">
      <%
        # get the fields that we want to include
        fields = AppConfig[:container_management_labels].map{|h| h.keys}.flatten
        
        # make sure the params are ordered the same as the fields set in the config
        params_new = Hash[params.to_a.sort_by{|param| fields.index(param)}]
      %>
      <% labels.each do |label| %>
        <div class="label <%= params['label_type'] %>">
          <% params_new.each do |k,v| %>
            <% if fields.include?(k) %>
              <% if label[k].present? %>
                <% if k.include?("barcode") %>
                  <div class="<%= k %>" data="<%= label[k] %>"></div>
                <% else %>
                  <div class="<%= k %>"><%= k.include?("type") ? label[k].titlecase : label[k] %></div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  
    <script type="text/javascript">
      var barcodeType = "<%= params_new['barcode_type'] %>";
      var autoScale = "<%= params_new['auto-scale'] %>";
    </script>
    <style type="text/css">
        @page {
          size: <%= AppConfig[:container_management_labels_pagesize][params_new['label_type']]['size'] rescue AppConfig[:container_management_labels_pagesize]['default']['size'] %>;
          margin: <%= AppConfig[:container_management_labels_pagesize][params_new['label_type']]['margin']  rescue AppConfig[:container_management_labels_pagesize]['default']['margin']%>;
        }
    </style>
    
  </body>
</html>
