<div id="labels_bulk_action_print_labels"><!--
  <%= form_tag({:controller => :top_containers_labels, :action => :print_labels}, {:class => "form-horizontal", :id => "print_labels_form", :target => "_blank" }) do |f| %>
    <div class="modal-body">
        <div class="alert alert-info" id="alertBucket"><%= I18n.t("top_container_labels._frontend.bulk_operations.print_labels_help") %></div>

        <div class="selected-record-list well">
            <ul>
                {for container in selection}
                <li>
                  ${container.display_string}
                  <input type="hidden" name="record_uris[]" value="${container.uri}">
                </li>
                {/for}
            </ul>
        </div>

        <div class="form-group">
          <div class="control-label col-sm-2" for="label_type">
            <%= I18n.t("top_container_labels._frontend.bulk_operations.label_type_label") %>
          </div>
          <div class="controls col-sm-6">
            <select class="form-control" name="label_type">
              <option value="<%= I18n.t("top_container_labels._frontend.bulk_operations.label_type_dymo_30256").downcase %>"><%= I18n.t("top_container_labels._frontend.bulk_operations.label_type_dymo_30256") %></option>
              <option value="<%= I18n.t("top_container_labels._frontend.bulk_operations.label_type_avery_5163").downcase %>"><%= I18n.t("top_container_labels._frontend.bulk_operations.label_type_avery_5163") %></option>
            </select>
          </div>
        </div>

        <div id="labels_to_print"></div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default"><%= I18n.t("top_container_labels._frontend.bulk_operations.print_n_labels", {:n => "${selection.length}"}) %></button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t("actions.cancel") %></button>
    </div>
  <% end %>
--></div>
