<div id="labels_bulk_action_print_labels"><!--
  <%= form_tag({:controller => :top_containers_labels, :action => :print_labels}, {:class => "form-horizontal", :id => "print_labels_form", :target => "_blank" }) do |f| %>
    <div class="modal-body">
        <div class="selected-record-list well">
        <h4><%= I18n.t("top_container_labels._frontend.bulk_operations.print_labels_help") %></h4>
            <ul>
                {for container in selection}
                <li>
                  ${container.display_string}
                  <input type="hidden" name="record_uris[]" value="${container.uri}">
                </li>
                {/for}
            </ul>
        </div>
        <div class="form-group well">
            <div class="col-sm-12">
            <h4><%= I18n.t("top_container_labels._frontend.fields.field_header") %></h4>
              <p><%= I18n.t("top_container_labels._frontend.fields.fields_message") %><p>
              </p>
            </div>
          <% field_count = AppConfig[:container_management_labels].length
             mid = (field_count/2).ceil
          %>
          <div class="col-sm-3 col-md-offset-1">
          <% AppConfig[:container_management_labels].each_with_index do |hash, index| %>
            <% hash.each do |key, val| %>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="<%= key %>" value="true" <%= val['checked'] ? "checked" : "" %> <%= val['disabled'] ? "disabled" : "" %>>
                  <%= I18n.t("top_container_labels._frontend.fields.#{key}") %>
                </label>
              </div>
              <% if val['disabled'] && val['checked']%>
                <input type="hidden" name="<%= key %>" value="true" />
              <% end %>
            <% end %>
            <% if index == mid %>
              </div>
              <div class="col-sm-3 col-md-offset-1">
            <% end %>
          <% end %>
          </div>
          <div class="col-sm-12">
            <h4><%= I18n.t("top_container_labels._frontend.fields.auto_scale_header") %></h4>
            <p><%= I18n.t("top_container_labels._frontend.fields.auto_scale_message") %>
            <label>
              <input type="checkbox" name="auto-scale" value="true" <%= AppConfig[:container_management_labels_autoscale]['checked'] ? "checked" : "" %> <%= AppConfig[:container_management_labels_autoscale]['disabled'] ? "disabled" : "" %>>
              <%= I18n.t("top_container_labels._frontend.fields.auto_scale") %>
            </label>
            <% if AppConfig[:container_management_labels_autoscale]['checked'] && AppConfig[:container_management_labels_autoscale]['disabled'] %>
              <input type="hidden" name="auto-scale" value="true" />
            <% end %>
            </p>
          </div>
          <div class="col-sm-12">
            <h4><%= I18n.t("top_container_labels._frontend.fields.records_management_header") %></h4>
            <p><%= I18n.t("top_container_labels._frontend.fields.records_management_message") %>
            <label>
              <input type="checkbox" name="rm_label" value="true" <%= AppConfig[:container_management_labels_autoscale]['disabled'] ? "disabled" : "" %>>
              <%= I18n.t("top_container_labels._frontend.fields.records_management") %>
            </label>
            </p>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-sm-2" for="label_type">
            <%= I18n.t("top_container_labels._frontend.labels.label_type_label") %>
          </div>
          <div class="controls col-sm-3">
            <select class="form-control" name="label_type">
            <% AppConfig[:container_management_labels_pagesize].each do |k,v| %>
              <% if k == "default" %>
                <option value="<%= I18n.t("top_container_labels._frontend.labels.label_type_default").downcase %>"><%= I18n.t("top_container_labels._frontend.labels.label_type_default") %>
                </option>
              <% else %>
                <option value="<%= I18n.t("top_container_labels._frontend.labels.label_type_#{k}").downcase %>"><%= I18n.t("top_container_labels._frontend.labels.label_type_#{k}") %>
                </option>
              <% end %>
            <% end %>
            </select>
          </div>
          <div class="control-label col-sm-2" for="barcode_type">
            <%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_label") %>
          </div>
          <div class="controls col-sm-3">
            <select class="form-control" name="barcode_type">
              <option value="codabar"><%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_codabar") %></option>
              <option value="code11"><%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_code11") %></option>
              <option value="code39"><%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_code39") %></option>
              <option value="code93"><%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_code93") %></option>
              <option value="code128"><%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_code128") %></option>
              <option value="ean8"><%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_ean8") %></option>
              <option value="ean13"><%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_ean13") %></option>
              <option value="std25"><%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_std25") %></option>
              <option value="int25"><%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_int25") %></option>
              <option value="msi"><%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_msi") %></option>
              <option value="datamatrix"><%= I18n.t("top_container_labels._frontend.barcodes.barcode_type_datamatrix") %></option>
            </select>
          </div>
        </div>

        <div id="labels_to_print"></div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default"><%= I18n.t("top_container_labels._frontend.bulk_operations.print_n_labels", {:n => "${selection.length}"}) %></button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t("actions.cancel") %></button>
    </div>
    <style type="text/css">
      .form-group .checkbox input {margin-left: -20px;} /* override the app back to bootstrap default */
    </style>
    <script type="text/javascript" src="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/container_labels_modal.js" %>">
    </script>
  <% end %>
--></div>
